/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
nav {
  height: 100px;
}

.account, .history {
  float: left;
  width: 48%;
  height: 500px;
  margin: 0 1%;
  border: solid 10px;
  border-radius: 25px;
  background: rgb(217, 215, 215);
}

.balance {
  margin: 13% 0 0 19%;
}

/* .account {
  padding: 5% 2% 10% 10%;
  border: solid 1px;
}

.history {
  border: solid 1px;
} */
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.account h1 {
  text-align: center;
  padding-right: 25%;
}

.description, .amount,
select, button {
  display: block;
  width: 75%;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 5px;
}

p, input, select, button {
  font-size: 25px;
}

p, select, button {
  font-weight: bold;
}

p, .myBalance {
  color: rgb(52, 158, 207);
}

select, button {
  background: rgb(52, 158, 207);
}

.account h1 {
  text-align: center;
  padding-right: 25%;
}

.history h1 {
  text-align: center;
  border-bottom: solid 2px;
  padding-bottom: 2%;
}

select {
  text-align: center;
}

.transaction {
  overflow-y: auto;
  height: 385px;
}

p {
  margin: 30px 0;
  border-bottom: solid 2px black;
  padding-bottom: 20px;
  padding-left: 2%;
}

