/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
.account, .history {
  float: left;
  width: 50%;
}

.account {
  padding: 5% 10% 10% 10%;
}

.history {
  padding-top: 5%;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.account h1 {
  text-align: center;
  padding-right: 25%;
}

.description, .amount,
select, button {
  display: block;
  width: 75%;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 5px;
}

select {
  text-align: center;
}

div {
  overflow-y: auto;
  height: 300px;
}

p {
  font-size: 25px;
  margin: 30px 0;
  font-weight: bold;
}